abinito_data/
protein_data/
reference/
software/
transcript_data/

scripts/CRI

# Ignore Trinity output and software directories
scripts/RCC/Trinity/SLURM_logs/
scripts/RCC/Trinity/trinity_out_dir/
scripts/RCC/Trinity/trinityrnaseq/

scripts/RCC/PASA/SLURM_logs/
scripts/RCC/PASA/cleaning*
scripts/RCC/PASA/outparts_cln.sort


# FASTA files
*.fa
*.fasta*
*.fas
*.fna
*.ffn
*.faa
*.frn

# Compressed FASTA files
*.fa.gz
*.fasta.gz
*.fa.bz2
*.fasta.bz2
*.fa.zip
*.fasta.zip